@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
main .productos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  main .productos .tituloProductos {
    text-align: center;
    border: solid;
    color: white;
    background-color: rgba(27, 118, 255, 0.753);
    width: 250px;
    margin: 5px; }
  main .productos .cajasproductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px; }
    main .productos .cajasproductos img {
      border: solid;
      border-color: white;
      margin: 2px; }

main {
  display: flex;
  flex-direction: row;
  align-items: center; }
  main .telcontact {
    display: flex;
    text-align: center;
    font-size: 20px;
    background-color: rgba(6, 143, 255, 0.808);
    color: white;
    height: 90px;
    padding: 0px 10px; }
  main .formulario {
    display: block;
    width: 500px;
    margin: 0px 5px; }

main .tituloyparrafo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  main .tituloyparrafo .textosimpresiones {
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 300px;
    background-color: rgba(0, 132, 255, 0.767);
    border: solid;
    border-color: black;
    color: white;
    padding: 5px 5px; }
  main .tituloyparrafo .imagenesimpresiones {
    display: flex;
    flex-direction: column; }
    main .tituloyparrafo .imagenesimpresiones .imaguno {
      margin: 10px;
      border: solid;
      color: #2d65ff; }
    main .tituloyparrafo .imagenesimpresiones .imagdos {
      margin: 10px;
      border: solid;
      color: #2d65ff; }

main {
  display: flex;
  flex-direction: column;
  align-content: center; }
  main .textosnosotros {
    display: flex;
    flex-direction: column;
    border: solid;
    color: white;
    border-color: #2f71ff;
    background-color: rgba(21, 56, 102, 0.74);
    padding: 5px;
    margin: 10px; }

iframe {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: white; }

@media screen and (max-width: 600px) {
  header .barraSup {
    display: block; }
    header .barraSup .navbar {
      display: block; }
    header .barraSup h1 {
      display: none; }
  main {
    margin: 1rem;
    grid-template-areas: "card"; }
    main .tituloyparrafo {
      flex-direction: column; }
    main .tituloProductos {
      font-size: 20px; }
    main .cajasproductos {
      width: 500px; }
    main .textosnosotros {
      font-size: 10px; }
    main iframe {
      width: 300px;
      height: 200px; }
    main .textosimpresiones {
      text-align: center; }
  footer {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 480px) {
  header .barraSup {
    display: block; }
  header .navbar {
    display: block; }
  header h1 {
    display: none; }
  main {
    display: grid;
    grid-template-areas: "card"; }
  .card {
    justify-items: center; }
  /*
    .textoscentral{
        flex-direction: column;
    }
*/
  footer {
    flex-direction: column;
    align-items: center; }
  .tituloyparrafo {
    flex-direction: column; }
  .tituloProductos {
    font-size: 20px; }
  .cajasproductos {
    width: 500px; }
  .textosnosotros {
    font-size: 10px; }
  iframe {
    width: 300px;
    height: 200px; }
  .textosimpresiones {
    text-align: center; } }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

body {
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.contenedor {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer"; }

header {
  grid-area: header;
  border-bottom: solid white;
  margin: 50px 20px; }
  header .escalar {
    animation-name: scale;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

@keyframes scale {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }
  header nav {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  header .navbar {
    list-style-type: none;
    display: flex; }
  header h1 {
    color: white;
    border: solid;
    background-color: #3a7fff;
    padding: 5px; }
  header nav ul li a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    border: solid;
    background-color: white;
    color: #2c80ff;
    width: 150px;
    padding: 0px 10px;
    margin: 5px; }
  header nav ul li a:hover {
    background-color: #2c80ff;
    color: white; }

main {
  grid-area: main;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; }
  main .card {
    display: flex;
    text-align: center;
    grid-area: card;
    width: 50%;
    align-content: center; }

footer {
  grid-area: footer;
  display: flex;
  justify-content: center; }
  footer h3 {
    margin: 5px;
    padding: 5px;
    border: solid;
    color: #073394 134, 217, 255;
    background-color: white; }
  footer .ig {
    background-color: white;
    border-radius: 100px;
    border: solid;
    color: #3ca1ff;
    width: 50px; }
