main { 
        .telcontact{
            display: block;
            text-align: center;
            font-size: 20px;
            background-color: rgba(6, 143, 255, 0.808);
            color: white;
            border: solid white 1px;
            padding: 0px 10px;
        }
        .formulario{
            display: block;
            width: 500px;
            margin: 0px 5px;
            justify-content: center;
        }
    }
