main{
    .tituloyparrafo{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        .textosimpresiones{
            display: flex;
            flex-direction: column;
            height: 230px;
            width: 300px;
            background-color: rgba(0, 132, 255, 0.767);
            border: solid;
            border-color: black;
            color: rgb(255, 255, 255);
            padding: 5px 5px;
         }
         .imagenesimpresiones{
            display: flex;
            flex-direction: column;
            
            .imaguno{
                margin: 10px;
                border: solid;
                color: rgb(45, 101, 255);
                 
            }
            
            .imagdos{
                margin: 10px;
                border: solid;
                color: rgb(45, 101, 255);
              
            }}
    }
}