main{
    .tituloyparrafo{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        .textosimpresiones{
            display: flex;
            flex-direction: column;
            height: 230px;
            width: 300px;
            background-color: rgba(0, 132, 255, 0.767);
            border: solid;
            border-color: black;
            color: rgb(255, 255, 255);
            padding: 5px 5px;
            .colorcontacto{
                color: rgb(191, 212, 0);
                text-decoration: none;
                font-size:larger;
            }
         }
         .imagenesimpresiones{
            display: flex;
            flex-direction: column;
            width: 40%;
            
            .imaguno{
                margin: 10px;
                border: solid;
                color: rgb(45, 101, 255);
                 
            }
            
            .imagdos{
                margin: 10px;
                border: solid;
                color: rgb(45, 101, 255);
              
            }
        }
    }
}

footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
     h3{
         padding-top: 10px;
         margin: 5px;
         
     }
     .ig{
        margin: 5px;
        border-radius: 100px;
        color: rgb(60, 161, 255);
        width: 50px;
    }
     }