main{
        display: flex;
        flex-direction: column;
        align-content: center;
        .textosnosotros{
            display: flex;
            flex-direction: column;
            border: solid 1px white;
            color: white;
            background-color: rgba(21, 56, 102, 0.74);
            padding: 10px;
            margin: 10px;
        }
    }
    iframe{
        display: flex;
        flex-direction: column;
        border: solid 1px white;
    }
