@import "productos";
@import "contacto";
@import "impresiones3d";
@import "nosotros";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "base/variables";
@import "utilities/medias";
@import "base/mixins";
@import "base/extend";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
   background-image: url(../img/fondo.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.contenedor{
   display: grid;
   grid-template-areas: "header header header"
                         "main main main"
                         "footer footer footer";
}

header{
        grid-area: header;
        border-bottom: solid white;
        margin: 20px 0px;
        .escalar {
            animation-name: scale;
            animation-duration: 5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        @keyframes scale {
                from{
                    transform: scale(1);
                }
            
                to{
                    transform: scale(1.2);
                }
            }
            nav{
                margin: 1rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .navbar{
                list-style-type: none;
                display: flex;
            }
            h1{
                text-align: center;
                width:350px;
                color: $color-texto;
                border: solid 1px;
                background-color: rgb(58, 127, 255);
                padding: 5px;
                z-index: -1px;
            }
            
            
            nav ul li a{
                display: flex;
                text-decoration: none;
                justify-content: center;
                @extend %botones;
                background-color: white;
                color: rgb(44, 128, 255);
                width: 150px;
                padding: 0px 10px;
                margin: 5px;
            
             }
            
             nav ul li a:hover{
                 background-color: rgb(44, 128, 255);
                 color: white;
             }
}

main{
    grid-area: main;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .card {
        display: flex;
        text-align: center;
        grid-area: card;
        width: 50%;
        align-content: center;
        .card-body{
             p .card-text{
                color: rgb(2, 1, 1);
            }
            a .btn.btn-primar {
                color: white;
                background-color: white;
            }
        }
    }
}

footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include piedepagina;
    height: 100px;
     h3{
         padding-top: 10px;
         margin: 5px;
         
     }
     .ig{
        margin: 5px;
        border-radius: 100px;
        color: rgb(60, 161, 255);
        width: 50px;
    }
     }
