
@media screen and (max-width:767px) {
    header{
        .barraSup{
            display: block;
        .navbar{
            display: block;   
        }
    }
}

    main{
        margin: 1rem;
        grid-template-areas: "card";
        .tituloyparrafo{
            flex-direction: column;
        }
        .tituloProductos{
            font-size: 20px;
    }
    .productos{
        display: flex;
        .cajasproductos{
            width: 500px;
        }
        .textosnosotros{
            font-size: 10px;
        }
    }


    iframe{
        width: 300px;
        height: 200px;
    }

    .textosimpresiones{
        text-align: center;
    }
    }

    footer{
        flex-direction: column;
        align-items: center;
    }

    

   
}

@media screen and (max-width: 376px) {
    header{
        .barraSup{
            display: block;
        }
        .navbar{
            display: block;
        }
    
        h1{
            display: none;
        }
    }
       

    main{
        display: grid;
        grid-template-areas: "card";
    }

    .card{
        
        justify-items: center;
    }

    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30%;
    }

    .tituloyparrafo{
        flex-direction: column;
    }

    .tituloProductos{
            font-size: 20px;
    }
    
    .cajasproductos{
        width: 500px;
    }
    .textosnosotros{
        font-size: 10px;
    }

    iframe{
        width: 300px;
        height: 200px;
    }

    .textosimpresiones{
        text-align: center;
    }
}